{
    "useTabs": false,
    "tabWidth": 4,
    "endOfLine": "lf",
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss"]
}
